title: ISC2 Scotland Chapter
baseurl: "" # the subpath of your site, e.g. /blog

# Build settings
theme: minima
plugins:
  - jekyll-feed

header_pages:
  - about.markdown
  - officers.markdown
  - bylaws.markdown
  - news.markdown
  - events.markdown
  - contact us.markdown
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
