<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">
            © Copyright
            {{ "now" | date: "%Y" }} - ISC2 Scotland Chapter
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <p>
          {{ site.description | escape }}
        </p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>